doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title Распознаватель
        link(type="text/css", rel="stylesheet", href="../../../dev/css/application.css?q=8556sываdv83f")
        link(type="text/css", rel="stylesheet", href="../../../css2/bootstrap.min.css?q=855sdsываdv683f",  media="screen,projection")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap4.min.css?q=855sdsdvыва683f" rel="stylesheet")
    body
        script(type="text/javascript", src="../../../js2/popper.min.js?q=855ыва863f")
        script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js?q=8568sdыeasfrhваv53f")
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js")
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.bootstrap4.min.js")
        script(type="text/javascript", src="../../../dev/js/application.js?q=asfrehsdgsd568gassdgsdsdfsdfssafsdvdsdgdvsasfadvsываvsdvs")
        script(type="text/javascript", src="../../../js2/bootstrap.min.js?q=85sdv5aываsd683f")


